/* [[file:css.org::*Header and Title][Header and Title:1]] */
body {margin: 0px;}
/*#content{
    display:flex;
}*/
header {
    /*margin-left: 25%;*/
    margin-left: 0px;
    padding: 0;
    width: 300px;
    height: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:200;
    background: gold;
}
/* Header and Title:1 ends here */

/* [[file:css.org::*Header and Title][Header and Title:2]] */
h1.title { /*may want to center this*/
    display: inline;
}
/* Header and Title:2 ends here */

/* [[file:css.org::*The Table of Contents][The Table of Contents:1]] */
#table-of-contents{
    position:fixed;
    top:40px;
    left:0;
    /*width:25%;*/
    width:300px;
    /*flex-basis:300px;*/
    overflow-x:hidden;
    overflow-y:scroll;
    height:100%;
    /* background:#343131;*/
    background-color: DarkGreen;
    z-index:200;
    /*TODO: use some green shades instead*/
    scrollbar-base-color: #1F1D1D;
    scrollbar-arrow-color: #b3b3b3;
    scrollbar-shadow-color: #1F1D1D;
    scrollbar-track-color : #343131;
}
/* The Table of Contents:1 ends here */

/* [[file:css.org::*The Table of Contents][The Table of Contents:3]] */
#table-of-contents h2{
    display:none;
}
/* The Table of Contents:3 ends here */

/* [[file:css.org::*The Table of Contents][The Table of Contents:4]] */
#table-of-contents li{
  list-style:none;
  margin-left: 0px;
}
#table-of-contents a {
  display: block;
  color: gold;
  padding: 8px 16px;
  text-decoration: none;
}
#table-of-contents a:hover:not(.on-display) {
   background-color: ForestGreen;
}
/* The Table of Contents:4 ends here */

/* [[file:css.org::*The Table of Contents][The Table of Contents:6]] */
#content > div[id^="outline-container-org"]{
     position:absolute;
     left:300px;/*Line up with left end of #table-of-content*/
     padding-left: 10px;
 }
 /*The placement of these depends on the header height and the menu width*/
 /* no good
 div.top-left{
     position: fixed;
     top: 50px;
     left: 300 px;
     display:block !important;
 }*/
 /*revert colours of anchor, only one should be active*/
 #table-of-contents a.on-display {
  background-color: gold;
  color: DarkGreen;
 }
/* The Table of Contents:6 ends here */

/* [[file:css.org::*Headings][Headings:1]] */
h2 {
    color: blue;
    }
h3 {
    color: sienna;
    }
h4 {
    color: purple;
    }
h5 {
    color: firebrick;
    }
h6 {
    color: forestgreen;
    }
/*h6 {
    color: darkcyan;
    }*/
/* Headings:1 ends here */
